.loadingIcon {
    /* height: 40vmin; */
    pointer-events: none;
}
.transiotionGroup{
  min-height: 500px;
}
  
@media (prefers-reduced-motion: no-preference) {
  .loadingIcon {
    animation: loadinSpin infinite 1s linear;
  }
}

@keyframes loadinSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}